.leaflet-container{
  width: 100vw;
  height: 60vh;
  position: absolute;
  z-index: -1;
}

.header{
  background: url(images/pattern-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
}

.skeleton{
  width: 100vw;
  height: 60vh;
}

/* .info-ip{
  font-size: calc;
} */

.info-ip b{
  font-size: clamp(1rem, 2vw, 1.25rem); 
}

.info-ip p{
  font-size: clamp(0.6rem, 2vw, 0.75rem); 
}

@media (max-width:800px) {
  .wrapper-info-ip{
    flex-direction: column;
    width: 85%;
    height: auto;
    text-align: center;
  }

  .info-ip{
    border: none;
    padding-right: 0;
    margin-bottom: 1rem;
  }

  .info-ip:last-child{
    margin-bottom: 0;
  }

  .input-wrapper{
    width: 85%;
  }

  .input-wrapper input{
    width: 90%;
  }

  .input-wrapper button{
    width: 10%;
  }
}